

{% extends 'layout.html'%}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->  
    
    <h1 class="h3 mb-2 text-gray-800">Perfil</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">Cabeçalho</div>
  
        <div class="card-body">
            <div class="table-responsive">
              
                               
         
                <form method="post" class="login-form" " >
                   
                   
                    
                    <div class="form-group">
                    
                        <h3>Recuperar Senha</h3>
                       <p>
                        Esqueceu sua senha? Forneça seu endereço de email abaixo, e nós te enviaremos um email com instruções para configurar uma nova.</p>
                        <form method="post">
                        
                            {% csrf_token %}
                            {{form}}
                            <input type="Submit" name="Send email">
                        </form>
                     

                             

                          
                    </div>
                
                    
               
                   
            
            
            </form>
            


            

          
            
            </div>
            
        </div>

    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}



