
{% extends 'layout.html'%}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->  
    
    <h1 class="h3 mb-2 text-gray-800">Perfil</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">Cabeçalho</div>
  
        <div class="card-body">
            <div class="table-responsive">
              
                                {% if not form_senha %}
                                    <p class="text-muted">
                                    <a href="{% url 'alterar_perfil' %}" class="text-reset">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>Criar Conta</a>.
                                    </p>
                                
                                    
                                    <p class="text-muted">
                                    <a href="{% url 'alterar_perfil' %}" class="text-reset">
                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Editar Perfil</a>.
                                    </p>
                                
                                    <p class="text-muted">
                                    <a href="{% url 'alterar_senha' %}" class="text-reset">
                                            <i class="fas fa-pen-square fa-sm fa-fw mr-2 text-gray-400"></i> Alterar Senha</a> 
                                            
                                    </p>
                                   
                      
                                 {% endif %}
                {% if form_senha %}   
         
                <form method="post" class="login-form" style="color: red;" >
                    {% csrf_token %}
                
                   
                    {% if form_senha.errors %}
                       {{form_senha.old_password.errors}}
                       {{form_senha.new_password1.errors}}
                       {{form_senha.new_password2.errors}}
                  
                    {% endif %}
                    <div class="form-group">
                    
                        <input type="password"  name="old_password" placeholder="Senha Antiga"  autocomplete="current-password" autofocus="" required="" id="id_old_password">
                       
                       <!-- {{form_senha.old_password}}-->
                    </div>
                
                    <div class="form-group">
                        
                        <input type="password" name="new_password1" placeholder="Nova Senha" autocomplete="new-password" required="" id="id_new_password1">
                     
                           <!--  {{form_senha.new_password1}}-->
                    </div>
                
                    <div class="form-group">
                       
                        <input type="password" name="new_password2" placeholder="Confirme a nova Senha" autocomplete="new-password" required="" id="id_new_password2">
                      
                        <!-- {{form_senha.new_password2}} -->
                    </div>
                  
                    <div class="form-group">
                        <input type="submit" value="Alterar" class="btn btn-primary"> 
                     
                        <a href="{% url 'alterar_perfil' %}" class="btn btn-light btn-icon-split">
                            <span class="icon text-gray-600">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span class="text">Voltar</span>
                        </a>
                    </div>
                   
            
            
            </form>
            



             {% endif %}   
             
             {% if form_perfil %} 
                <form method="post">
                {% csrf_token %}
                 <p><label for="id_user">User :</label> <select name="user" id="id_user">
                     <option value="{{request.user.d}}" selected>{{request.user}} </option>
                 </select></p>
                     
                    <p><label for="id_first_name">Nome</label><input type="text" name="first_name" maxlength="30" id="first_name" value="{{user_dado.first_name}}"> </p>
                    <p><label for="id_last_name">Sobrenome</label><input type="text" name="last_name" maxlength="30" id="last_name" value="{{user_dado.last_name}}"> </p>
                    <p><label for="id_email">E-mail</label><input type="text" name="email" maxlength="30" id="email" value="{{user_dado.email}}"> </p>  
                    <button type="submit">Salvar </button>
                </form>
             {% endif %}    

          
            
            </div>
            
        </div>

    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
