{% extends 'layout.html'%}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Novo Detalhe do Lote</h1>

    <!-- Collapsable Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Insira as informações do lote:</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="collapseCardExample">
            <div class="card-body">
                <form id='busca-lotes' method="POST">
                {% csrf_token %}
                
                <div class="form-row">
                    <div class="form-group col-md-3">
                    <label for="lote">LOTE:</label><br>
                    
                    </div>
                    <div class="form-group col-md-3">
                    <label for="lote">Material:</label><br>
                    {{ form.lohi_material }}
                    </div>
                    <div class="form-group col-md-3">
                    <label for="lote">Tipo de Avaliação:</label><br>
                    {{ form.lohi_tipoAvaliacao }}
                    </div>
                    <div class="form-group col-md-3">
                    <label for="lote">Quantidade Original:</label><br>
                    {{ form.lohi_quantidadeOriginal }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                    <label for="lote">Quantidade Ret. DIP:</label><br>
                    {{ form.lohi_quantidadeRetiradaDip }}
                    </div>
                    <div class="form-group col-md-3">
                    <label for="lote">Quantidade Não Localizada:</label><br>
                    {{ form.lohi_quantidadeNaoLocalizada }}
                    </div>
                    <div class="form-group col-md-3">
                    <label for="lote">Quantidade Atual:</label><br>
                    {{ form.lohi_quantidadeAtual }}
                    </div>
                    <div class="form-group col-md-3">
                    <label for="lote">Unidade:</label><br>
                    {{ form.lohi_unidade }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                    <label for="lote">Retirada:</label><br>
                    {{ form.lohi_retirada }}
                    </div>
                    <div class="form-group col-md-3">
                    <label for="lote">Valor Contábil Unit.:</label><br>
                    {{ form.lohi_valorContabilUnitario }}
                    </div>
                    <div class="form-group col-md-3">
                    <label for="lote">Valor Contábil Total:</label><br>
                    {{ form.lohi_valorContabilTotal }}
                    </div>
                    <div class="form-group col-md-3">
                    <label for="lote">Valor Reposição Unit.:</label><br>
                    {{ form.lohi_valorReposicaoUnitario }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                    <label for="lote">Valor Total Reposição:</label><br>
                    {{ form.lohi_valorTotalReposicao }}
                    </div>
                    <div class="form-group col-md-3">
                    <label for="lote">Valor Comparação VMA:</label><br>
                    {{ form.lohi_valorComparacaoVMA }}
                    </div>
                    <div class="form-group col-md-3">
                    <label for="lote">VMA Unit.:</label><br>
                    {{ form.lohi_vmaUnitario }}
                    </div>
                    <div class="form-group col-md-3">
                    <label for="lote">VMA Total:</label><br>
                    {{ form.lohi_vmaTotal }}
                    </div>
                </div>
                
                <button type="submit" id="busca" class="btn btn-primary">Salvar</button>
                <a href="{% url 'lotes-lista' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i>Retornar</a>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
