{% extends 'layout.html'%}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Lote Detalhado</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Detalhes do Lote</h6>
        </div>
        <div class="card-body">
            {% if lote.0.lote_lote %}
            <a href="{% url 'lote-det-novo' lote.0.lote_lote  %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Novo Detalhe do Lote</a>

            <a href="{% url 'lote-interno' lote.0.lote_lote %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Retornar</a>
            {% endif %}
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Editar</th>
                            <th>Lote</th>
                            <th>Material cod</th>
                            <th>Material descrição</th>
                            <th>Material NCM</th>
                            <th>Grupo de mercadoria</th>
                            <th>Centro</th>
                            <th>Elemento PEP</th>
                            <th>Depósito</th>
                            <th>Tipo de Avaliação</th>
                            <th>Lote NM</th>
                            <th>Número de Série</th>
                            <th>Quantidade Original</th>
                            <th>Quantidade Retirada DiP</th>
                            <th>Quantidade Não Localizada</th>
                            <th>Quantidade Atual</th>
                            <th>Unidade</th>
                            <th>ISA de Retirada</th>
                            <th>Data de Retirada</th>
                            <th>Valor Contábil Unitário</th>
                            <th>Valor Contábil Total</th>
                            <th>Valor Contábil Total Atual</th>
                            <th>Valor Reposição Unitário</th>
                            <th>Valor Reposição Total</th>
                            <th>Valor Comparação VMA</th>
                            <th>VMA Unitário</th>
                            <th>VMA Total</th>
                            <th>VMA Percentual do Total</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Editar</th>
                            <th>Lote</th>
                            <th>Material cod</th>
                            <th>Material descrição</th>
                            <th>Material NCM</th>
                            <th>Grupo de mercadoria</th>
                            <th>Centro</th>
                            <th>Elemento PEP</th>
                            <th>Depósito</th>
                            <th>Tipo de Avaliação</th>
                            <th>Lote NM</th>
                            <th>Número de Série</th>
                            <th>Quantidade Original</th>
                            <th>Quantidade Retirada DiP</th>
                            <th>Quantidade Não Localizada</th>
                            <th>Quantidade Atual</th>
                            <th>Unidade</th>
                            <th>ISA de Retirada</th>
                            <th>Data de Retirada</th>
                            <th>Valor Contábil Unitário</th>
                            <th>Valor Contábil Total</th>
                            <th>Valor Contábil Total Atual</th>
                            <th>Valor Reposição Unitário</th>
                            <th>Valor Reposição Total</th>
                            <th>Valor Comparação VMA</th>
                            <th>VMA Unitário</th>
                            <th>VMA Total</th>
                            <th>VMA Percentual do Total</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for lote in object_list %}
                        <tr>
                            <td><a href="{% url 'lote-det-editar' lote.pk %}">Edit</a></td>
                            <td>{{ lote.lode_lote }}</td>
                            <td>{{ lote.lode_material.mate_cod }}</td>
                            <td>{{ lote.lode_material.mate_descricao }}</td>
                            <td>{{ lote.lode_material.mate_ncm }}</td>
                            <td>{{ lote.lode_material.mate_grupoMercadoria }}</td>
                            <td>{{ lote.lode_centroAtual }}</td>
                            <td>{{ lote.lode_elementoPep }}</td>
                            <td>{{ lote.lode_deposito }}</td>
                            <td>{{ lote.lode_tipoAvaliacao }}</td>
                            <td>{{ lote.lode_loteNm }}</td>
                            <td>{{ lote.lode_numeroSerie }}</td>
                            <td>{{ lote.lode_quantidadeOriginal }}</td>
                            <td>{{ lote.lode_quantidadeRetiradaDip }}</td>
                            <td>{{ lote.lode_quantidadeNaoLocalizada }}</td>
                            <td>{{ lote.lode_quantidadeAtual }}</td>
                            <td>{{ lote.lode_unidade }}</td>
                            <td>{{ lote.lode_isaRetirada }}</td>
                            <td>{{ lote.lode_dataRetirada }}</td>
                            <td>{{ lote.lode_valorContabilUnitario }}</td>
                            <td>{{ lote.lode_valorContabilTotal }}</td>
                            <td>{{ lote.lode_valorContabilTotalAtual }}</td>
                            <td>{{ lote.lode_valorReposicaoUnitario }}</td>
                            <td>{{ lote.lode_valorTotalReposicao }}</td>
                            <td>{{ lote.lode_valorComparacaoVMA }}</td>
                            <td>{{ lote.lode_vmaUnitario }}</td>
                            <td>{{ lote.lode_vmaTotal }}</td>
                            <td>{{ lote.lode_vmaPercentualLote }}%</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
